<%= form_for @artist, html: { multipart: true } do |f| %>

<label>Photos</label>

<div class="form-group">
  <span class="btn btn-default">
    Upload Photos
    <%= file_field_tag :image_url, type: :file, multiple: false %>
  </span>
</div>
